# Node.js
node_modules/

# Build files
build/
dist/

# Dependency lock files
yarn.lock
package-lock.json

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# Compiled output
*.class
*.jar
*.war
*.ear

# macOS
.DS_Store

# Windows
Thumbs.db